DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

GOOGLE_SHEET_ID=1DEC5SjzqWXnAD-mySk-MQPIeteS8ETGlNBpG4EM9jW4
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

MEMBER_UPDATE_CHANNEL_ID=
EVENT_CHANNEL_ID=
OFFICER_CHANNEL_ID=
LOG_CHANNEL_ID=
OFFICER_ROLE_ID=
ASSIGN_ROLE_IDS=

# Set to true only if "Server Members Intent" is enabled in Discord Developer Portal
ENABLE_MEMBERS_INTENT=false
